* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body {
  margin-left: 457px;
  margin-right: 457px;
}

.line-1 {
  width: 1006px;
  height: 61px;
  background: #7abcac;
}

.border-1 {
  display: block;
  margin-left: 200px;
  margin-top: -36px;
  padding-top: 44px;
  padding-bottom: 44px;
  width: 586px;
  border: 4px solid rgba(0, 0, 0, 1);
  text-align: center;
}

.border-1 h1 {
  margin-top: 30px;
  font-size: 48px;
  line-height: 56px;
}
.border-1 h2 {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.border-2 {
  display: inline-block;
  margin-top: 30px;
  width: 248px;
  height: 28px;
  background: rgb(0, 0, 0);
  align-items: center;
}

.article-1 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 70px;
  margin-bottom: 70px;
}

.container-1 {
  padding-left: 70px;
  width: 636px;
}

.container-links {
  width: 288px;
  margin-bottom: 70px;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

hr {
  margin-bottom: -8px;
  height: 4px;
  border: none;
  background: #dcdcdc;
}

.article-1 p {
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}

.border-3 {
  width: 72px;
  height: 10px;
  background: #7abcac;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.link-c {
  display: inline-block;
  padding-left: 12px;
}

.container-links svg {
  margin-top: 5px;
}

.socials-f {
  list-style: none;
}

.article-2 {
  margin-bottom: 50px;
}

.article-2 ul {
  list-style: none;
}

.education {
  width: 288px;
}

.skills-1 {
  width: 289px;
  padding-left: 70px;
}
.skills-2 {
  width: 291px;
  padding-left: 70px;
}

.container-education {
  display: flex;
}

.border-4 {
  width: 201px;
  height: 4px;
  background: #dcdcdc;
  margin-top: 25px;
  margin-bottom: 25px;
}

.per-1 {
  margin-top: 30px;
  line-height: 19px;
  border: 1px solid #7abcac;
  width: 110px;
  background: #7abcac;
  border-radius: 11px;
  text-align: center;
}
.per-2 {
  margin-top: 30px;
  line-height: 19px;
  border: 1px solid #d8da79;
  width: 154px;
  background: #d8da79;
  border-radius: 11px;
  text-align: center;
}
.per-3 {
  margin-top: 30px;
  line-height: 19px;
  border: 1px solid #c29486;
  width: 137px;
  background: #c29486;
  border-radius: 11px;
  text-align: center;
}
.html-1 {
  margin-top: 30px;
  line-height: 19px;
  border: 1px solid #7abcac;
  width: 64px;
  background: #7abcac;
  border-radius: 11px;
  text-align: center;
}
.css-2 {
  margin-top: 30px;
  line-height: 19px;
  border: 1px solid #7abcac;
  width: 97px;
  background: #7abcac;
  border-radius: 11px;
  text-align: center;
}

.js-3 {
  margin-top: 30px;
  line-height: 19px;
  border: 1px solid #d8da79;
  width: 116px;
  background: #d8da79;
  border-radius: 11px;
  text-align: center;
}

.rc-4 {
  margin-top: 30px;
  line-height: 19px;
  border: 1px solid #d8da79;
  width: 92px;
  background: #d8da79;
  border-radius: 11px;
  text-align: center;
}

.container-2 {
  display: flex;
  margin-bottom: 50px;
}

.job-p {
  list-style: none;
  text-align: center;
  line-height: 19px;
  margin: 20px;
}

.job-p li {
  margin-bottom: 5px;
}

.job p {
  margin-bottom: 10px;
}

.job ul {
  margin-left: 20px;
}

.vertical {
  height: 248px;
  width: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: #dcdcdc;
}

.container-3 {
  display: flex;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.contacts p {
  display: inline-block;
  line-height: 28px;
  font-size: 24px;
  margin: 20px;
  width: 248px;

  background: black;
  color: white;
}

.contacts li {
  list-style: none;
}

.contacts a:hover {
  color: #7abcac;
  transition: 0.2s;
}

@media screen and (max-width: 576px) {
  body {
    margin: auto;
    padding: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .line-1 {
    max-width: 100%;
  }

  .header-1 {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    align-self: center;
    max-width: 100%;
  }

  .border-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .article-1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .container-1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50%;
    padding-left: 0;
  }

  .container-links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-self: center;
  }

  .article-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .container-education {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .education {
    flex-flow: column;
    max-width: 100%;
  }

  .skills-1,
  .skills-2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 100%;
    padding-left: 0;
  }

  .per-1,
  .per-2,
  .per-3,
  .html-1,
  .css-2,
  .js-3,
  .rc-4 {
    margin-bottom: 0;
  }

  .article-3 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 0;
    max-width: 50%;
  }

  .container-2 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .job {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 20px;
  }

  .vertical {
    visibility: hidden;
    margin: 20px;
    height: 0;
  }

  .hidden-1 {
    height: 4px;
  }

  .container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
